body {
  min-height: 100%;
  background: linear-gradient(to left top, #101010, #070721) fixed;
}

h1 {
  text-align: center;
  font-family: 'Atomic Age', sans-serif;
  font-size: 95px;
  color: #F8F8F8;
  margin-bottom: 15px;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
}

h3 {
  color: gray;
  font-size: 30px;
}

.star {
  display: none;
  position: fixed;
  z-index: -5;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  opacity: .5;
}

.marginTop {
  margin-top: 25%;
}

.difficulty {
  margin-top: 0px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#buildRows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#timer {
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 25px;
  text-align: left;
}

#game {
  display: none;
  margin: 0 auto;
  margin-bottom: 75px;
  background-color: rgba(255,255,255,.6);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  padding: 35px;
  width: 525px;
}

#buttons{
  margin-top: 20px;
}

.colors {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.colors:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .8);
}

.gameButton {
  font-family: 'Orbitron', sans-serif;
  display: inline-block;
  background-color: #CBA72D;
  font-size: 20px;
  color: white;
  border: none;
  padding: 20px;
  width: 200px;
  margin: 10px;
  opacity: .8;
}

.gameButton:hover {
  background-color: gray;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.rowNumber {
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 17px;
}

.staging {
  margin-top: 20px;
}

#stagingBoard {
  margin-left: 60px;
  background-color: rgba(255,255,255,.4);
  padding: 20px 17px 15px 17px;
  border-radius: 5px;
}

.stagingButton {
  width: 90px;
  font-size: 15px;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  margin-left: 25px;
  padding: 6px 0px 6px 0px;
  text-align: center;
}

.stagingButton:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .8);
}

#masterBoard {
  display: none;
  margin-left: 60px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,.5);
  padding: 20px 17px 15px 17px;
  border-radius: 5px;
}

.clear {
  background-color: gray;
}

.stagingButtons {
  display: grid;
  grid-template-columns: 1fr;
}

.emptyCircle {
  margin: 7px;
  background-color: gray;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  display: inline-block;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  text-align: right;
}

#pegResult {
  margin: 6px 10px 14px 15px;
  background-color: rgba(255,255,255,.4);
  opacity: .9;
  padding: 5px;
  border-radius: 2px;
  width: 100;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pegCircle {
  background-color: #A8A8A8;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  margin: 3px;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.whitePeg {
  background-color: white;
}

.goldPeg {
  background-color: #CBA72D;
}

#alert {
  display: none;
  position: fixed;
  top: 40px;
  left: 44%;
  width: 300px;
  height: 45px;
  background-color: #ff6c37;
  opacity: .9;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

#info {
  position: fixed;
  left: 10px;
  bottom: 0px;
}

#rules {
  display: none;
  position: fixed;
  left: 10px;
  bottom: 50px;
  width: 400px;
  background-color: white;
  opacity: .9;
  padding: 30px;
}

#lose {
  display: none;
  margin-top: 30%;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 100px;
  color: #F8F8F8;
}

#win {
  display: none;
  margin-top: 30%;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 100px;
  color: #F8F8F8;
}
