html {
  /* height: 100%; */
}

body {
  background-image: linear-gradient(#101010, #070721);
  /* height: 100%; */
}

body h1 {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 90px;
  color: #F8F8F8;
  margin-bottom: 15px;
}

body h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
}

body h3 {
  color: 	gray;
  font-size: 30px;
}

.star {
  display: none;
  position: fixed;
  z-index: -1;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  opacity: .5;
}

.marginTop {
  margin-top: 25%;
}

.difficulty {
  margin-top: 0px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#game {
  display: none;
  opacity: .85;
  margin-bottom: 50px;
}

#timer {
  font-family: 'Orbitron', sans-serif;
  color: 	#A9A9A9;
  font-size: 25px;
  text-align: left;
}

.gameBoard {
  margin-left: 23.5%;
  background-color: white;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  width: 600px;
}

#buttons{
  margin-top: 20px;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}
#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#purple {
  background-color: purple;
}

#orange {
  background-color: orange;
}

.colors{
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.colors:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .8);
}

.gameButton {
  display: inline-block;
  background-color: #ff6c37;
  font-size: 20px;
  color: white;
  border: none;
  padding: 20px;
  width: 200px;
  margin: 10px;
  opacity: .8;
}

.gameButton:hover {
  background-color: gray;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.rowNumber {
  display: inline-block;
  font-family: 'Orbitron', sans-serif;
  color: #A9A9A9;
  font-size: 25px;
  margin-top: 17px;
}

#stagingBoard {
  margin-top: 20px;
  background-color: #E0E0E0;
  opacity: .8;
  padding: 20px;
  border-radius: 10px;
}

.stagingButton {
  width: 95px;
  font-size: 20px;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  margin-top: 20px;
  margin-left: 20px;
  padding: 3px;
}

.stagingButton:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, .8);
}

.emptyCircle {
  margin: 5px;
  background-color: #B8B8B8;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: inline-block;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  text-align: right;
}

#pegResult {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 5px;
  background-color: #E0E0E0;
  opacity: .9;
  padding: 3px;
  border-radius: 2px;
  width: 80px;
}

.pegCircle {
  background-color: #B8B8B8;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  display: inline-block;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.whitePeg {
  border: 3px solid #00FF00;
  background-color: white;
}


.blackPeg {
  background-color: #FFD700;
}

#alert {
  display: none;
  position: fixed;
  top: 40px;
  left: 44%;
  width: 300px;
  height: 45px;
  background-color: #ff6c37;
  opacity: .9;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

#info {
  position: fixed;
  left: 10px;
  bottom: 0px;
}

#rules {
  display: none;
  position: fixed;
  left: 10px;
  bottom: 50px;
  width: 400px;
  background-color: white;
  opacity: .9;
  padding: 30px;
}

#lose {
  display: none;
}

#win {
  display: none;
}
